<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Betozar
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.ts'])
  </head>
  <body>
    <h1 class="text-blue-400 text-5xl">betozar.com</h1>
  </body>
</html>
