<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>
      Betozar
    </title>
    @vite(['resources/css/app.css', 'resources/js/app.ts'])
  </head>
  <body>
    <h1 class="text-blue-400 text-5xl">betozar.com</h1>
    <div x-data="{ open: true, message: 'Alpine Works!' }">
      <button @click="open = !open" x-text="!open ? 'Show' : 'Hide'"></button>
      <h1 x-show="open" x-text="message"></h1>
    </div>
  </body>
</html>
